---
layout: layouts/base.njk
templateClass: tmpl-post
---

<section class="max-w-xl mx-5 my-10 sm:mx-auto">
  <article class="prose">
    <h1 class="flex mb-5 text-2xl">
      <a href="/">til</a>
      <span>{{title}}</span>
    </h1>

    {{ content | safe }}
  </article>

  {%- if collections.til %}
    {%- set nextPost = collections.til | getNextCollectionItem(page) %}
    {%- set previousPost = collections.til | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
      <hr>
      <ul class="flex justify-between text-sm">
        <li>{%- if nextPost %}<a href="{{ nextPost.url | url }}">← {{ nextPost.data.title }}</a>{% endif %}</li>
        <li>{%- if previousPost %}<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }} →</a>{% endif %}</li>
      </ul>
    {%- endif %}
  {%- endif %}

  <footer class="mt-8 text-xs text-center text-gray-600">
    This til was created 
    <time class="font-semibold" datetime="{{created}}">{{ created }}</time>
    {%- if created !== modified %}
    and last modified 
    <time class="font-semibold" datetime="{{modified}}">{{ modified }}</time>
    {% endif %}
  </footer>
</section>
