---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="max-w-xl sm:mx-auto my-10 mx-5">
  <h1 class="flex mb-5 text-2xl">
    <a href="/">til</a>
    <span>{{title}}</span>
  </h1>

  {{ content | safe }}

  {%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
      <hr>
      <ul class="flex justify-between text-sm">
        <li>{%- if nextPost %}<a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>{% endif %}</li>
        <li>{%- if previousPost %}<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>{% endif %}</li>
      </ul>
    {%- endif %}
  {%- endif %}

  <time class="block mt-4 text-xs text-gray-600" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</article>
